<div class="row g-4">
  {{ $items := .Site.Data.publications }}
  {{ range $items }}
  <div class="col-md-12 d-flex">
    <div class="me-3" style="flex: 0 0 160px;">
      <img src="{{ (print "publications/" .image) | relURL }}" class="img-fluid rounded" style="max-height: 150px;" />
    </div>
    <div>
      <h5 class="mb-1"><strong>{{ .title }}</strong></h5>
      <p class="mb-1"><strong>Authors:</strong> {{ .authors }}</p>
      <p class="mb-1"><em>{{ .venue }}</em>
        {{ if .link }} <a href="{{ .link }}" target="_blank">[Link]</a>{{ end }}
      </p>
      {{ if .description }}<p>{{ .description }}</p>{{ end }}
    </div>
  </div>
  {{ end }}
</div>
